<% include header %>

<div class="container text-center">
    <h1 class="p-3">Home</h1>
    <% if(isLoggedIn === true){%>
    <h3 class="p-1">Is Logged In</h1>
        <% } %>
        <% if(isLoggedIn === false) { %>
        <h3 class="p-1">Is Not Logged In</h1>
            <% } %>
</div>