<% include partials/header %>

<div class="container text-center">

    <% if (userInfo) { %>
    <ul class="list-group">
        <li class="list-group-item"><%= userInfo._id %></li>
        <li class="list-group-item"><%= userInfo.username %></li>
        <li class="list-group-item"><%= userInfo.email %></li>
    </ul>
    <% } %>

    <h1 class="p-3">Home</h1>

</div>