<% include header %>

<div class="container p-5">
    <form method="post" action="/users/login">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>