.side-nav-items {
  /* position: fixed !important; */
  color: #ffffff;
  margin: 50px 0;
}
.side-nav-items li {
  padding: 10px 5px;
  background: transparent !important;
  border: none;
}
.side-nav-items li a {
  color: #ffffff;
}
.anime-list h1 {
  margin: 50px 0;
}
.userProfile {
  text-align: center !important;
  margin: 0 auto;
}
.userProfile img {
  border-radius: 50%;
  width: 100%;
}